<servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>servlets.LoginServlets</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>UsuarioActualServlet</servlet-name>
  <servlet-class>servlets.UsuarioActualServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>UsuarioActualServlet</servlet-name>
  <url-pattern>/usuario-actual</url-pattern>
</servlet-mapping>
